operator:
  image:
    repository: ghcr.io/rhwendt/helios/runbook-operator
    tag: v0.1.0
    pullPolicy: IfNotPresent
  replicas: 1
  leaderElect: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

executor:
  image:
    repository: ghcr.io/rhwendt/helios/runbook-executor
    tag: v0.1.0
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

rbac:
  enabled: true
