apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "helios.fullname" . }}-prometheus
  namespace: helios-storage
  labels:
    {{- include "helios.labels" . | nindent 4 }}
    app.kubernetes.io/component: prometheus
