apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-blackbox-config
  labels:
    app.kubernetes.io/name: blackbox-exporter
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: collection
data:
  blackbox.yml: |
    modules:
      icmp:
        prober: icmp
        timeout: 5s
      tcp_connect:
        prober: tcp
        timeout: 5s
      http_2xx:
        prober: http
        timeout: 10s
        http:
          valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
          valid_status_codes: []
          method: GET
          preferred_ip_protocol: "ip4"
