apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}-gnmic
  namespace: helios-collection
  labels:
    app.kubernetes.io/name: gnmic
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: collection
